Source: ros-rolling-control-toolbox
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gmock <!nocheck>, ros-rolling-control-msgs, ros-rolling-filters, ros-rolling-generate-parameter-library, ros-rolling-geometry-msgs, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rclcpp-lifecycle <!nocheck>, ros-rolling-rcutils, ros-rolling-realtime-tools, ros-rolling-ros2-control-cmake, ros-rolling-ros-workspace
Homepage: https://control.ros.org
Standards-Version: 3.9.2

Package: ros-rolling-control-toolbox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-rolling-control-msgs, ros-rolling-filters, ros-rolling-generate-parameter-library, ros-rolling-geometry-msgs, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rcutils, ros-rolling-realtime-tools, ros-rolling-ros-workspace
Description: The control toolbox contains modules that are useful across all controllers.
