Source: ros-jazzy-control-toolbox
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gmock <!nocheck>, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-control-msgs, ros-jazzy-filters, ros-jazzy-generate-parameter-library, ros-jazzy-geometry-msgs, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rclcpp-lifecycle <!nocheck>, ros-jazzy-rcutils, ros-jazzy-realtime-tools, ros-jazzy-ros-workspace
Homepage: http://ros.org/wiki/control_toolbox
Standards-Version: 3.9.2

Package: ros-jazzy-control-toolbox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-control-msgs, ros-jazzy-filters, ros-jazzy-generate-parameter-library, ros-jazzy-geometry-msgs, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rcutils, ros-jazzy-realtime-tools, ros-jazzy-ros-workspace
Description: The control toolbox contains modules that are useful across all controllers.
